<div class="container" style="padding-top: 20px">
<h1>Dashboard</h1>
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="message">
        <div class="message-name">
          <%= booking.motorcycle_id %>
          <%= booking.status %>
        </div>
        <div class="message-name">
          <%= booking.start_date %>
          <%= booking.end_date %>
        </div>
        <div class="message-name">
        INSERT USER COMMENT HERE
        </div>  
        <div class="message-name">
          <button class="btn-primary mx-sm-2">
            <%= link_to "ACCEPT", update_booking_path(id: booking, status: "accepted"), method: "patch" %>
          </button>
          <button class="btn-primary mx-sm-2">
            <%= link_to "DECLINE", update_booking_path(id: booking, status: "declined"), method: "patch" %>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>