<div class="navbar-wagon">

  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <span style="font-size: 40px; position: relative; top:10px;">
        <i class="fas fa-motorcycle"></i>
      </span>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "Blog", blogposts_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Bike 4 Delivery", bike4delivery_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Excursions", excursions_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "FAQ", faq_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Contact", contact_path, class: "navbar-wagon-item navbar-wagon-link" %>
  </div>

</div>