<div class="container" style="padding-top: 20px">
  <h1>Available Motorcycles</h1>
  <br>
    <div class="row">

    <% @motorcycles.each do |motorcycle|%>
      <div class="col-xs-12 col-sm-4" style="margin-bottom: 30px">

        <img width="80%", height="200px", src="<%= motorcycle.picture %>" >

        <div class="card-category"><h4><%= link_to motorcycle.name, motorcycle_path(motorcycle, search: {starts_at: params["search"]["starts_at"], ends_at: params["search"]["ends_at"]} ) %></h4>
        </div>
        <div class="card-description">
          <p><%= motorcycle.motorcycle_type  %></p>
          <p><%= motorcycle.price.to_s + "USD per day" %></p>
        </div>
        <button class="btn-primary-availability mx-sm-2">
          <%= link_to new_motorcycle_booking_path(motorcycle) do %>
            <div style="color: white; font-weight: bold">BOOK NOW</div>
          <% end %>          
        </button>
      </div>
    <% end %>
  </div>
</div>