<div class="container" id="container-padding">
<h1>Add your new motorcycle here</h1>
	<%= simple_form_for @motorcycle do |f|%>
	  <h4 class="form-label">Name</h4>
	  <div class="row">
	    <%= f.input :name, label: false, placeholder: "Write your name here" %>
	  </div>
	  <h4 class="form-label">Description</h4>
		<div class="row">
	   	<%= f.input :description, label: false, placeholder: "Write your amazing description here" %>
	  </div>
 	  <h4 class="form-label">Price</h4>
			<div class="row">
	  	 	<%= f.input :description, label: false, placeholder: "How much will you charge for this hot bitch??" %>
	  	</div>
    <%= f.submit "Add new motorcycle", class: "btn-primary mx-sm-2" %>
	<% end %>
</div>